<!DOCTYPE html>
<html lang="tw">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div>Please provide your zodiac sign</div>
        <button onclick="window.location.href = '{{config.IndexURL}}?subscribe=capricorn'">摩羯座</button>
        <button onclick="window.location.href = '{{config.IndexURL}}?subscribe=aquarius'">水瓶座</button>
        <button onclick="window.location.href = '{{config.IndexURL}}?subscribe=pisces'">雙魚座</button>
        <button onclick="window.location.href = '{{config.IndexURL}}?subscribe=aries'">牡羊座</button>
        <button onclick="window.location.href = '{{config.IndexURL}}?subscribe=taurus'">金牛座</button>
        <button onclick="window.location.href = '{{config.IndexURL}}?subscribe=gemini'">雙子座</button>
        <button onclick="window.location.href = '{{config.IndexURL}}?subscribe=cancer'">巨蟹座</button>
        <button onclick="window.location.href = '{{config.IndexURL}}?subscribe=leo'">獅子座</button>
        <button onclick="window.location.href = '{{config.IndexURL}}?subscribe=virgo'">處女座</button>
        <button onclick="window.location.href = '{{config.IndexURL}}?subscribe=libra'">天秤座</button>
        <button onclick="window.location.href = '{{config.IndexURL}}?subscribe=scorpio'">天蠍座</button>
        <button onclick="window.location.href = '{{config.IndexURL}}?subscribe=sagittarius'">射手座</button>
    </body>
</html>
